body{
    background-color: rgb(182, 248, 180);
}


.container{
    width: 600px;
    border: 4px solid red;
    margin: 100px auto; 
    background-color: rgb(240, 240, 8);
    padding: 10px;
    

}

#btn1{ 
    
    border: 4px solid blue; 
}

button:hover{
    color:rgb(254, 9, 9);
}

.navbar{
    background-color: blue;
    border-radius: 30px;
}


.navbar li{
    float: left;
    margin: 15px 20px;
}

.navbar ul{
    overflow:auto;
}

.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.search{
    padding: 9px 54px ;
    float: right;
    border: 2px solid red;
}

.navbar input{

}